:root {
    --main-bg-color: rgb(18, 18, 18);
    --sec-bg-color: rgb(18, 18, 18);
    --table-color: rgb(40, 40, 40);
    
    --title-text-color: white;
    --detail-text-color: rgb(109, 109, 109);

    --main-text-color: rgb(192, 192, 192);
    --link-text-color: rgb(25, 182, 255);
    
    --highlight-color: rgb(252, 30, 163);
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--sec-bg-color);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;

    text-align: justify;
}

.nav {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.nav div {
    margin-right: 20px;
}

.main {
    font-family: 'Oxygen Mono', sans-serif;
    
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;

    max-width: 800px;
    min-height: 100%;
    margin: auto;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);

    font-size: 16px;
    font-weight: 400;
}

.link {
    color: var(--link-text-color);
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 3px;
}

a {
    color: var(--highlight-color);
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
	word-wrap: break-word;
}

.detail {
    color: var(--detail-text-color);
    margin-bottom: 30px;
}

.title {
    color: var(--title-text-color);
    text-decoration-color: var(--highlight-color);
    text-underline-offset: 5px;

    font-weight: 800;
}

.titlediv {
    margin-bottom: 10px;
}

.excerpt {
    margin-bottom: 10px;
}

.post {
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    max-height: 15%;
    @media only screen and (min-width: 800px) {
        max-width: 800px;
        max-height: 300px;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5 {
    color: var(--title-text-color);
}