:root {
    color-scheme: light dark;
    
    /* Tag colors */
    --tag-text-color: #FFFFFF;

    --default: rgb(55, 55, 55);
    --gray: rgb(90, 90, 90);
    --brown: rgb(96, 59, 44);
    --orange: rgb(133, 76, 29);
    --yellow: rgb(137, 99, 42);
    --green: rgb(43, 89, 63);
    --blue: rgb(40, 69, 108);
    --purple: rgb(73, 47, 100);
    --pink: rgb(105, 49, 76);
    --red: rgb(110, 54, 48);
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: rgb(24, 26, 27);
    
        --header-text-color: #B5446E;

        --title-text-color: rgb(255, 255, 255);
        --highlight-text-color: #94A3B8;
        
        --main-text-color: rgb(232, 230, 227);
        --secondary-text-color: rgb(122, 122, 122);

        --link-text-color: rgb(112, 170, 216);
        --link-visited-color: rgb(112, 170, 216);
        --link-hover-color: #F1B5CB;
    
        --table-color: rgb(66, 66, 66);
        --table-text: rgb(150, 150, 150);

        /* Code highlights */
        --highlight-bg: rgb(20, 20, 20);
        --highlight-text: #e6dfd3;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-bg-color: rgb(255, 255, 238);
    
        --header-text-color: #B5446E;

        --title-text-color: rgb(0, 0, 0);
        --highlight-text-color: #7A7265;
        
        --main-text-color: rgb(34, 34, 34);
        --secondary-text-color: rgb(80, 80, 80);

        --link-text-color: rgb(53, 148, 226);
        --link-text-color: rgb(53, 148, 226);
        --link-hover-color: #F1B5CB;
    
        --table-color: rgb(195, 195, 195);
        --table-text: var(--secondary-text-color);

        /* Code highlights */
        --highlight-bg: rgb(20, 20, 20);
        --highlight-text: #e6dfd3;
    }
}