/* Make the html part of katex rendered math disappear*/
.katex-html {
 display: none;
}

/* Add scrollbar to overflowing equations */
.katex-display {
	display: block;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-bottom: 5px;
}