.post-list {
    padding-left: 0;
}

.post {
    margin-bottom: 30px;

    list-style-type: none;
}

.title {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 700;
}

.published-date {
    color: var(--secondary-text-color);
}

.inline-sep {
    color: var(--decoration-color);
    font-weight: 700;
}

.inline-icon {
    margin-left: 0 !important;
    margin-right: 0 !important;

    width: 20px !important;
    height: 20px !important;

    vertical-align: top !important;
    display: inline !important;
}

.excerpt p {
    margin: 0;
    color: var(--secondary-text-color);
}