.post-list {
    padding-left: 0;
}

.post-list > li {
    margin-bottom: 30px;

    list-style-type: none;
}

.title {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 700;
}

.published-date {
    color: var(--secondary-text-color);
}

.inline-sep {
    color: var(--decoration-color);
    font-weight: 700;
}

.inline-icon {
    display: inline;

    width: 20px;
    height: 20px;
}

.excerpt p {
    margin: 0;
    color: var(--secondary-text-color);
}