/* Audio Embeds */
audio {
	display: block;
	margin-bottom: 10px;
	width: 100%;

	background-color: var(--table-color);
	border-radius: 5px;
}

/* Image captions */
p > .caption {
	color: var(--secondary-text-color);

	margin: 0px;
	margin-top: 2px;
	text-align: center;
}

/* Table */
table {
	margin: 0 auto;

	border-collapse: separate;
	border-spacing: 0;
	
    text-align: left;
    overflow: hidden;

	overflow-x: scroll;
   	display: block;

	color: var(--table-text);
}

thead tr {
    background-color: var(--main-bg-color);
    text-align: center;
}

th, td {
    padding: 10px 10px;
    border-bottom: 1px solid var(--table-color);
    border-right: 1px solid var(--table-color);

    text-align: center;
}

thead th {
	color: var(--title-text-color);
}

/* Round table corners */
table tr td:first-child, 
table tr th:first-child {
  	border-left: 1px solid var(--table-color);
}

table tr th {
	border-top: 1px solid var(--table-color);
}

table tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
table tr:first-child th:last-child {
	border-top-right-radius: 10px;
}
table tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
	margin-bottom: 10px;
}

/* Make the html part of katex rendered math disappear*/
.katex-html {
	display: none;
}

/* Add scrollbar to overflowing equations */
.katex-display {
	display: block;

	width: 100%;

	overflow-x: scroll;
	overflow-y: hidden;

	padding-bottom: 5px;

	font-size: 22px;
}

/* Markdown Quotes */
blockquote {
    background: var(--table-color);
    border-left: 10px solid var(--main-text-color);

    padding: 0.5em 10px;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--main-text-color);

    content: open-quote;
    
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}