.pagetitlediv {
    margin-top: 20px;
    margin-bottom: 20px;

    color: var(--title-text-color);
}

.pagetitle {
    position: relative;
    display: table-cell;
    overflow: hidden;

    line-height: normal;
    
    font-size: 34px;
    font-weight: 700;

    border-bottom: 10px double var(--title-text-color);
}

.spacer {
    margin-top: 40px;
    margin-bottom: 30px;
}

hr {
    border: 0;
    border-top: 2px solid var(--decoration-color);
}