.metadata div {
	margin-top: 2px;
	margin-bottom: 2px;
}

.tags span:nth-child(1n) { background-color: var(--tag-color1); }
.tags span:nth-child(2n) { background-color: var(--tag-color2); }
.tags span:nth-child(3n) { background-color: var(--tag-color3); }
.tags span:nth-child(4n) { background-color: var(--tag-color4); }
.tags span:nth-child(5n) { background-color: var(--tag-color5); }

.tag {
	font-size: 12px;
	
	padding: 5px;
	border-radius: 5px;

	margin-bottom: 5px;

    display: inline-block;
    color: var(--tag-text-color);
}

.detail {
    color: var(--secondary-text-color);
}