.tags span:nth-child(1n) { background-color: #74A4BC; }
.tags span:nth-child(2n) { background-color: #29524A; }
.tags span:nth-child(3n) { background-color: #CE6D8B; }
.tags span:nth-child(4n) { background-color: #E1CE7A; }
.tags span:nth-child(5n) { background-color: #440D0F; }

.tag {
	font-size: 12px;
	
	padding: 5px;
    margin: 2px;

	border-radius: 5px;

    display: inline-block;
    color: white;
}