.pagetitlediv {
    margin-top: 20px;
    margin-bottom: 20px;

    color: var(--title-text-color);
}

.pagetitle {
    position: relative;
    display: table-cell;
    overflow: hidden;

    padding: 20px 0px 30px 0px;

    font-size: 28px;
    font-weight: 700;
}

.pagetitle:after {
    content: "========================================================================================================================================================================";
    position: absolute;
    bottom: 5px;
    left: 0;
}

hr {
    border: 0;
    border-top: 2px solid var(--decoration-color);
}