blockquote {
    background: var(--table-color);
    border-left: 10px solid var(--main-text-color);
    padding: 0.5em 10px;
    margin: 0;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: var(--main-text-color);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}