<!doctype html>
<html>
  	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- google search meta tags -->
		<meta name="description" content="Hello! I'm Niklas Oberhuber and I write about programming, machine learning and my projects.">
		
		<link rel="stylesheet" href="/assets/index.css">
		<link rel="stylesheet" href="/assets/title.css">
		<link rel="stylesheet" href="/assets/navigation.css">
		<link rel="stylesheet" href="/assets/posts.css">
		<link rel="stylesheet" href="/assets/highlight.css">
		<link rel="stylesheet" href="/assets/table.css">

		<link rel="icon" type="image/png" href="/assets/{{ page.favicon }}">
  	</head>
	<body>
		<div class="main">
			{{ content }}
		</div>
	</body>
</html>
