<!doctype html>
<html>
  	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto:wght@300&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/index.css">
		<link rel="stylesheet" href="/assets//title.css">
		<link rel="stylesheet" href="/assets/icons.css">
		<link rel="stylesheet" href="/assets/highlight.css">
  	</head>
	<body>
		<div class="main">
			{{ content }}
		</div>
	</body>
</html>