<!doctype html>
<html>
  	<head>
		<!-- Page Metadata -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Page title -->
		{% if page.url == "/" %}
			<title>{{ site.data.metadata.person.name }}'s {{ page.title }}</title>
		{% else %}
			<title>{{ page.title }} - {{ site.data.metadata.person.name }}</title>
		{% endif %}

		<!-- Fonts -->
		<link rel="preload" href="/assets/fonts/iosevka-aile-bold.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="/assets/fonts/iosevka-aile-normal.woff2" as="font" crossorigin="anonymous">
		<link rel="preload" href="/assets/fonts/iosevka-aile-normalitalic.woff2" as="font" crossorigin="anonymous">
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="/assets/styles/colors.css">
		<link rel="stylesheet" href="/assets/styles/index.css">
		<link rel="stylesheet" href="/assets/styles/title.css">
		<link rel="stylesheet" href="/assets/styles/navigation.css">
		<link rel="stylesheet" href="/assets/styles/posts.css">
		<link rel="stylesheet" href="/assets/styles/highlight.css">
		<link rel="stylesheet" href="/assets/styles/table.css">
		<link rel="stylesheet" href="/assets/styles/metadata.css">
		<link rel="stylesheet" href="/assets/styles/md.css">

		<!-- Page Favicon -->
		<link rel="icon" type="image/png" href="/assets/{{ page.favicon }}">

		{% if page.math %}
		<!-- Katex stylesheet -->
		<link rel="preload" as="style" href="/assets/styles/external/katex.min.css">
		{% endif %}

		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-07W7KYBHYN"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-07W7KYBHYN');
		</script>

		<!-- Metadata -->
		{% include metadata/metadata.html %}
		{% if page.layout == "page" %}
			{% include metadata/page.html %}
		{% elsif page.layout == "about" %}
			{% include metadata/about.html %}
		{% elsif page.url == "/contact.html" %}
			{% include metadata/contact.html %}
		{% endif %}

		<!-- JSON+LD Scheme -->
		<script type="application/ld+json">
			{% include schemes/webpage.json %}
		</script>
		<script type="application/ld+json">
			{% if page.url == "/" %}
				{% include schemes/home.json %}
			{% elsif page.layout == "page" %}
				{% include schemes/post.json %}
			{% elsif page.layout == "about" %}
				{% include schemes/about.json %}
			{% elsif page.url == "/contact.html" %}
				{% include schemes/contact.json %}
			{% endif %}
		</script>
  	</head>
	<body>
		<div class="main">
			{{ content }}
		</div>
	</body>
</html>
