---
layout: default
---

<div class="metadata">
	<div class="detail">
		Published on {{ page.published | date_to_string: "ordinal", "UK" }}.
		{{ page.time }} long read.
	</div>
	<div class="tags">
		{% for tag in page.colortags %}
			<span style="background-color: var(--{{ tag.color }});" class="tag">{{ tag.name }}</span>
		{% endfor %}
	</div>
	{% if (page.sourcecode | size) > 0 %}
		<div class="detail sourcecode">
			You can find the <b>sourcecode</b> at: 
			<a href="{{ page.sourcecode }}" target="_blank">{{ page.sourcecode }}</a>
		</div>
	{% endif %}
</div>

<hr>

<main class="post-content">
	{{ content | resize_images }}
</mai>