---
layout: default
---

<section class="metadata">
	<div class="detail">
		Published on <b>{{ page.published | date_to_string: "ordinal", "UK" }}</b>.
		<b>{{ page.time }}</b> long read.
	</div>
	{% assign sourcode_length = page.sourcecode | size %}
	{% if sourcode_length > 0 %}
		<div class="detail sourcecode">
			You can find the <b>sourcecode</b> at: 
			<a href="{{ page.sourcecode }}" target="_blank">{{ page.sourcecode }}</a>
		</div>
	{% endif %}

	<hr>
</section>

<content class="post-content">
	{{ content | resize_images }}
</content>