---
layout: head
---

<meta content="{{ page.title }}" property="og:title">
<meta content="article" property="og:type">
<meta content="{{ page.excerpt }}" property="og:description">
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% if page.image %}
	{% if page.image != "none" %}
		<meta content="{{ site.url }}/assets/{{ page.permalink }}/{{ page.image }}" property="og:image">
	{% endif %}
{% endif %}

{% include header.html %}

<div class="pagetitlediv">
	<div class="pagetitle">
		{{ page.title }}
	</div>
</div>

<div>
	<div class="detail">
		<span><i class="fa fa-clock"></i></span>
		<span>{{ page.time }} read</span>

		<span><i class="fa fa-pencil"></i></span>
		<span>{{ page.published }}</span>

		<span><i class="fa fa-tags"></i></span>
		<span class="pseudojson">{{ page.tags | jsonify }}</span>
	</div>

	{{ content }}
</div>

{% include footer.html %}